@import './styles/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $textColor;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}