$textColor: #3c3c3c;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:$textColor;
  font-weight: 300;
}

.App {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
  height: 964px;
}

.btn {
  border: 1px solid;
  height: 120px;
  width: 310px;
  cursor: pointer;
  &:hover{
    border: 1px solid #f9c910;
  }
}


.header {
  margin: 0 auto;
  height: 964px;
  width: 1900px;
  background: url("../img/header_start_img.jpg") no-repeat;
  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.header-user {
  margin-top: 54px;
  height: 33px;
  display: flex;
  justify-content: flex-end;
  margin-right: 102px;
  font-size: 14px;
  div {
    text-align: center;
    font-weight: 400;
    padding: 8px;
    cursor: pointer;
    &:hover{
      border: 1px solid #f9c910;
      padding: 7px;
    }
  }
  .header-user-login{

  }
  .header-user-register{
    width: 100px;
    height: 33px;
  }
}

.header-nav {
  width: 745px;
  height: 50px;
  display: flex;
  list-style: none;
  margin-top: 16px;
  margin-right: 93px;
  li{
    height: 50px;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    &:hover{
      border: 1px solid;
      padding: 13px 29px;
    }
  }
}

.header-text {
  width: 680px;
  height: 96px;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  font-size: 39px;
  letter-spacing: -0.74px;

  margin-top: 276px;

  &:after{
    content: url("../img/decoration.png");
    width: 253px;
    height: 33px;
    position: absolute;
    top: 141px;
    left: 212px;
  }
}

.header-btns {
  width: 680px;
  margin-top: 185px;
  display: flex;
  justify-content: space-between;
  .btn{
    font-size: 36px;
  }
}


