$textColor: #3c3c3c;
$hoverBtnColor: #f9c910;
$sectionsBgColor: #ebebeb;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $textColor;
  font-weight: 300;
}

.App {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
  height: 964px;
}

.btn {
  border: 1px solid;
  height: 120px;
  width: 310px;
  cursor: pointer;
  background: none;
  font-weight: 400;

  &:hover {
    border: 1px solid $hoverBtnColor;
  }
}

.header,
.section,
.section-steps,
.section-AboutUs,
.section-info,
.form{
  width: 1900px;
  margin: 0 auto;
}

.titleDecoration {
  text-align: center;
  font-size: 40px;
  font-weight: 400;

  &:after {
    margin: 20px auto;
    content: url("../img/decoration.png");
    width: 253px;
    height: 50px;
    display: block;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}






.header {
  height: 964px;
  background: url("../img/header_start_img.jpg") no-repeat;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.header-user {
  margin-top: 54px;
  display: flex;
  justify-content: flex-end;
  margin-right: 102px;

  div {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;

    &:hover {
      border: 1px solid $hoverBtnColor;
      padding: 9px;
    }
  }
}

.header-nav {
  width: 745px;
  height: 50px;
  display: flex;
  list-style: none;
  margin-top: 16px;
  margin-right: 93px;

  li {
    height: 50px;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;

    &:hover {
      border: 1px solid;
      padding: 13px 29px;
    }
  }
}

.header-text {
  font-weight: 300;
  margin-top: 250px;
}

.header-btns {
  width: 713px;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;

  .btn {
    font-size: 36px;
  }
}

.section {
  height: 382px;
  background: url("../img/Bg-yellow.png");
  background-position: center;

  .container {
    display: flex;
    justify-content: space-between;

    .col-1-3 {
      width: 373px;
      text-align: center;
      margin: 55px 73px;

      .numbers {
        font-size: 90px;
      }

      .numbers-name {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0 30px 0;
      }

      .numbers-text {
        height: 68px;
      }
    }
  }
}

.section-steps {

  .container {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-top: 80px;
    }

    .steps-row {
      width: 1180px;
      height: 325px;
      background-color: $sectionsBgColor;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .col-1-4 {
        text-align: center;
        margin: 0 70px;

        div {
          margin: 0 auto;
          width: 80px;
          height: 70px;
        }

        #img28 {
          background: url("../img/icons/28.png") no-repeat center;
        }

        #img016 {
          background: url("../img/icons/016.png") no-repeat center;
        }

        #img39 {
          background: url("../img/icons/39.png") no-repeat center;
        }

        #img58 {
          background: url("../img/icons/58.png") no-repeat center;
        }

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          height: 52px;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: -0.36px;
        }

        hr {
          margin: 10px auto;
          width: 88px;
          border: 1px solid $textColor;
        }

        p {
          width: 170px;
          height: 50px;
          color: #3c3c3c;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;

        }
      }
    }

    .btn {
      margin: 50px 0;
      font-size: 36px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.section-AboutUs {
  background: $sectionsBgColor;
  height: 967px;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .section-AboutUs-box {
      height: 600px;
      width: 600px;
      margin-top: 250px;
      margin-left: 207px;
      text-align: center;

      .section-AboutUs-text {
        font-size: 30px;
        font-weight: 400;
        line-height: 54px;
      }

      #imgSignature {
        margin-top: 50px;
        margin-left: 250px;
      }
    }

    #imgAbout {
      margin: 55px 0;
    }
  }
}

.section-info {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section-info-header {
      text-align: center;
      width: 600px;
      margin-top: 100px;
      nav {
        display: flex;
        justify-content: space-between;
        button {
          height: 78px;
          font-size: 24px;
          font-weight: 400;
          border: none;
          &:focus{
            border: 1px solid;
          }
        }
      }
      p {
        font-size: 22px;
        font-weight: 400;
        margin: 50px 0;
      }
    }
    .info-section{
      display: flex;
      justify-content: space-between;
      width: 1266px;
      hr {
        border: 1px solid $textColor;
        width: 496px;
        margin: 33px 0;
      }
      span {
        display: block;
        font-size: 29px;
        font-family: 'Merriweather', serif;
        font-weight: 300;
      }
      p {
        font-family: "Merriweather - Light Italic", serif;
        font-size: 18px;
        font-weight: 400;
      }
      .info-left {
        margin: auto 0;
      }
      .info-right {
        margin: 0;
        text-align: right;
        p{
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          height: 53px;
        }
      }
    }
    ul{
      display: flex;
      font-size: 24px;
      font-weight: 400;
      li{
        list-style: none;
        height: 42px;
        width: 35px;
      }
    }
  }
}

.form {
  height: 958px;
  background: #eeefef url("../img/footer_bg_img.jpg") no-repeat;
  .container{
    display: flex;
    justify-content: flex-end;


    h4{
      margin-top: 200px;
      text-transform: uppercase;
    }
    form {
      margin: auto 0;
    }
    .form-row{
      display: flex;
      justify-content: space-between;
      width: 570px;
    }
    #email,
    #name {
      width: 45%;
    }
    .form-control {
      padding: 10px;
      background: none;
      font-size: 18px;
      outline:none;
      margin: 20px 0;
      border: none;
      border-bottom: 1px solid;
    }
    #message{
      width: 100%;
    }
  }
  .form-btn{
    display: flex;
    justify-content: center;
  }
  button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100px;
    height: 50px;
  }
}
