$textColor: #3c3c3c;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $textColor;
  font-weight: 300;
}

.App {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 85%;
  margin: 0 auto;
  height: 964px;
}

.btn {
  border: 1px solid;
  height: 120px;
  width: 310px;
  cursor: pointer;

  &:hover {
    border: 1px solid #f9c910;
  }
}

.header,
.section {
  width: 1900px;
  margin: 0 auto;
}

.header {
  height: 964px;
  background: url("../img/header_start_img.jpg") no-repeat;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}


.header-user {
  margin-top: 54px;
  display: flex;
  justify-content: flex-end;
  margin-right: 102px;

  div {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;

    &:hover {
      border: 1px solid #f9c910;
      padding: 9px;
    }
  }
}

.header-nav {
  width: 745px;
  height: 50px;
  display: flex;
  list-style: none;
  margin-top: 16px;
  margin-right: 93px;

  li {
    height: 50px;
    padding: 14px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;

    &:hover {
      border: 1px solid;
      padding: 13px 29px;
    }
  }
}

.header-text {
  width: 680px;
  height: 96px;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  font-size: 39px;
  letter-spacing: -0.74px;

  margin-top: 276px;

  &:after {
    content: url("../img/decoration.png");
    width: 253px;
    height: 33px;
    position: absolute;
    top: 141px;
    left: 212px;
  }
}

.header-btns {
  width: 680px;
  margin-top: 185px;
  display: flex;
  justify-content: space-between;

  .btn {
    font-size: 36px;
  }
}

.section {
  height: 382px;
  background: url("../img/Bg-yellow.png");
  background-position: center;

  .container {
    display: flex;
    justify-content: space-between;

    .col-1-3 {
      width: 373px;
      text-align: center;
      margin: 55px 73px;

      .numbers {
        font-size: 90px;
      }

      .numbers-name {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0 30px 0;
      }

      .numbers-text {
        height: 68px;
      }
    }
  }
}

.section-steps {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-steps-title {
      margin: 80px 0;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: -0.74px;
      position: relative;
      &:after {
        content: url("../img/decoration.png");
        width: 253px;
        height: 33px;
        position: absolute;
        top: 70px;
        left: 100px;
      }
    }

    .steps-row {
      width: 1180px;
      height: 325px;
      background-color: #ebebeb;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .col-1-4 {
        text-align: center;
        margin: 0 70px;
        #img28 {
          background: url("../img/icons/28.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 70px;
        }
        #img016 {
          background: url("../img/icons/016.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 70px;
        }
        #img39 {
          background: url("../img/icons/39.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 70px;
        }
        #img58 {
          background: url("../img/icons/58.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 70px;
        }
        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 52px;
          font-size: 18px;
          font-weight: 400;
          letter-spacing: -0.36px;
        }
        hr {
          margin: 10px auto;
          width: 88px;
          height: 1px;
          white-space: nowrap;
          border: 0.1px solid $textColor;
        }
        p{
          color: #3c3c3c;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;

        }
      }
    }

    .btn {
      margin: 50px 0;
      font-size: 36px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
